<h1 class="text-center mt-4"> Log in </h1>

<%= form_with(scope: :session,url: login_path,  local: true) do |form| %>

  <div class="row justify-content-center ">
  <div class="col-10 shadow p-3 mb-3 bg-info rounded">
    <div class="container">

        <div class="field">
        <div class="form-group row">
          <%= form.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
          <%= form.email_field :email,  class: "form-control shadow rounded",placeholder: "Enter your email" %>
          </div>
        </div>
      </div>

       <div class="field">
        <div class="form-group row">
          <%= form.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
          <%= form.password_field :password,  class: "form-control shadow rounded",placeholder: "Enter your password" %>
          </div>
        </div>
      </div>

        <div class="actions">
          <div class="form-group row justify-content-center">
            <%= form.submit "Log in", class: "btn btn-outline-light btn-lg" %>
          </div>
        </div>
        
        <% end %>
    </div>
    </div>
    <div class="mb-3">
      <div class="form-group row justify-content-center">
          <%= link_to '[Cancel and return to articles listing]', sensors_path, class: "text-info" %>
      </div>
    </div>
</div>