<h1 class="text-center mt-4"> Gruppi di sensori</h1>

<div class="flickr_pagination">
  <%= will_paginate @sensors_groups, :container => false %>
</div>

<div class="container">
  <% @sensors_groups.each do |sensors_group| %>
    <div class="row justify-content-md-center">
      <div class="col-6 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%=link_to sensors_group.nome.upcase, sensors_group_path(sensors_group) %>
          </div>
          <div class="card-body">
          <%= link_to "Visualizza" , sensors_group_path(sensors_group),class: "btn btn-outline-info"%>
            <% if logged_in?%>
                
                <%= link_to "Modifica", edit_sensors_group_path(sensors_group), class: "btn btn-outline-info" %>
              
            <% end%>
          </div>
          <div class="card-footer text-muted">
            <small>Creato <%= time_ago_in_words(sensors_group.created_at) %> fa</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flickr_pagination mb-4">
  <%= will_paginate @sensors_groups, :container => false %>
</div>
