<p id="notice"><%= notice %></p>

<table id="table" class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Nome gruppo di sensori</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td><%=@sensors_group.nome%></td>
      <td> 

      </td>  
  </tr>
  
  </tbody>
  </table>
  <h1 class="text-center mt-4"> Sensori </h1>

<div class="flickr_pagination">
  <%= will_paginate @sensors, :container => false %>
</div>

<%= render 'sensors/sensor'%>

<div class="flickr_pagination mb-4">
  <%= will_paginate @sensors, :container => false %>
</div>
  



