<h1 class="text-center mt-4">Profilo di <%= @user.nome%></h1>

<table id="table" class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td><%=@user.nome%></td>
      <td><%=@user.email%></td>
      <td> 
        <% if logged_in? and @user==current_user%>
        <div id="boh" class="text-center mt-1">
          <%= link_to "Modifica il tuo profilo", edit_user_path(@user), class: "btn btn-outline-info"%>
        </div>
        <% end%>

      </td>  
  </tr>
  
  </tbody>
  
</table>



<h1 class="text-center mt-4"> Sensori </h1>

<div class="flickr_pagination">
  <%= will_paginate @sensors, :container => false %>
</div>

<%= render 'sensors/sensor'%>

<div class="flickr_pagination mb-4">
  <%= will_paginate @sensors, :container => false %>
</div>


<style type="text/css">
#table
{
  margin: 0 auto;
  width: 800px;
}
#boh
{
  width: 200px;

}
</style>