<div class="container">
  <% @misurations.each do |misuration| %>
  <% if misuration.sensor.user == current_user%>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if misuration.sensor%>
              Dal sensore: <%=link_to misuration.sensor.mac , sensor_path(misuration.sensor)%>
            <% end%>

          </div>

          <div class="card-body">

            <h5 style="color:blue;" class="card-title" >Misura </h5>
            
            <p class="card-text"><%= misuration.value %> <%=misuration.unit%></p>
            <%= link_to "View", misuration_path(misuration), class: "btn btn-outline-success" %>
            
            
          </div>
          <div class="card-footer text-muted">
            <small>Creato <%= time_ago_in_words(misuration.created_at) %> fa, 
            Modificato <%= time_ago_in_words(misuration.updated_at) %> fa</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>