<% if logged_in?%>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Mac</th>
      <th scope="col">Tipo</th>
      <th scope="col">Latitudine</th>
      <th scope="col">Longitudine</th>
      <th scope="col">Unità di misura</th>
      <th scope="col">Pubblico</th>
      <th scope="col">Timeout di allarme:</th>
      <th scope="col">Ultimo aggiornamento firware</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td><%=@sensor.mac%></td>
      <td><%=@sensor.tipo%></td>
      <td><%=@sensor.latitudine%></td>
      <td><%=@sensor.longitudine%></td>
      <td><%=@sensor.unit_misura%></td>
      <td><%=@sensor.public%></td>
      <td><%=@sensor.downtime_to_alarm%></td>
      <td><%=@sensor.last_firmware_update%></td>
      <td>
        <% if logged_in? && user=current_user %>
        
          <td><%= link_to "Modifica", edit_sensor_path(@sensor), class: "btn btn-outline-info" %></td>
          <td><%= link_to "Elimina", sensor_path(@sensor), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %></td>
  <%end%>


      </td>  
  </tr>
  
  </tbody>
  
</table>
<%else %>
<%flash[:danger]="Devi essere loggato"%>
<%end%>  
</div>